body {
    font-size: 8pt;
    letter-spacing: 1px;
    background: url(../images/xbg.gif) no-repeat;
    font-family: Helvetica, Arial, sans-serif;
    word-spacing: 5px;
    color: #515151;
}

.logo_container {
    background: white;
    margin-left: 25px;
    padding: 5px;
}

.logo
{
    background: white;
    font-weight: bold;
    font-size: 16pt;
    font-family: Courier, serif;
}

.container {
    width: 855px;
}

.jahspotify_table
{
    border-collapse:collapse;
    border-spacing: 0px;
}

#content {
    background-color: #f7f7f7;
    padding: 20px 0 20px 20px;
}

p {
    font-family: Courier, serif;
    margin: 1px;
}

td {
    font-family: Courier, serif;
}

h1 {
    padding: 25px 0 5px 0;
}

.footer {
    margin-top: 100px;
    font-size: .8em;
    text-align: left;
    margin-left: 15px;
}

#current_track_container {
    width: 320px;
    background: white;
    padding: 5px;
}


#current_track_cover_art_container {
    background: white;
    width: 300px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#current_track_info_container {
    background: white;
    width: 600px;
    margin-left: 15px;
}

#queue_container {
    background: white;
    width: 400pt;
    margin-left: 15px;
}

#play_controller_container {
    background: white;
    width: 400px;
    margin-left: 15px;
    padding: 5px;
}

#queue_track_container {
    background: white;
    width: 300px;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    border: 1px solid green;
    padding-left: 15px;
    margin-left: 15px;
}
