/*
 * Licensed to the Apache Software Foundation (ASF) under one
 *        or more contributor license agreements.  See the NOTICE file
 *        distributed with this work for additional information
 *        regarding copyright ownership.  The ASF licenses this file
 *        to you under the Apache License, Version 2.0 (the
 *        "License"); you may not use this file except in compliance
 *        with the License.  You may obtain a copy of the License at
 *
 *          http://www.apache.org/licenses/LICENSE-2.0
 *
 *        Unless required by applicable law or agreed to in writing,
 *        software distributed under the License is distributed on an
 *        "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *        KIND, either express or implied.  See the License for the
 *        specific language governing permissions and limitations
 *        under the License.
 */
.homeBody {
    background-image: url("images/springboard-bg-sm.png");
    background-repeat: repeat-x;
    color: #AE9971;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;

}

.mainContentPanel {
    clear: both;
    margin-bottom: 5px;
    padding: 5px 5px 20px;
}

img.homeLogo {
    display: block;
    margin: 15px auto 10px;
}

img.tile {
    margin-top: 19px;
}

.homeBody .tileDiv {
    color: #42382C;
    height: 160px;
    letter-spacing: 0.05em;
    line-height: 16px;
    width: 49%;
}

.ui-listview .ui-li, .tileDiv, .clickable {
    cursor: pointer;
}

.homeBody .tileLabel {
    margin-top: 10px;
}
.homeBody .tileBorderRight {
    border-right: 1px solid #FFFFFF;
}
.homeBody .tileBorderTop {
    border-top: 1px solid #FFFFFF;
    opacity: 0.75;
}
.homeBody .disable-image {
    opacity: 0.2;
}
.queueImg, .playlistImg,.serverSettingsImg,.playingNowImg, .searchImg {
    background-image: url("images/home-sprite.png");
    background-repeat: no-repeat;
    display: block;
    height: 80px;
    margin: 29px auto 0;
    width: 80px;
}
.queueImg {
    background-position: -31px -1597px;
}
.playlistImg {
    background-position: -31px -295px;
}
.searchImg {
    background-position: -31px -729px;
}

.serverSettingsImg {
    background-position: -31px -1597px;
}

.playingNowImg {
    background-position: -31px -1597px;
}

.ui-body-o {
    text-shadow: 0 1px 0 #FFFFFF;
}
