/*
 * Licensed to the Apache Software Foundation (ASF) under one
 *        or more contributor license agreements.  See the NOTICE file
 *        distributed with this work for additional information
 *        regarding copyright ownership.  The ASF licenses this file
 *        to you under the Apache License, Version 2.0 (the
 *        "License"); you may not use this file except in compliance
 *        with the License.  You may obtain a copy of the License at
 *
 *          http://www.apache.org/licenses/LICENSE-2.0
 *
 *        Unless required by applicable law or agreed to in writing,
 *        software distributed under the License is distributed on an
 *        "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *        KIND, either express or implied.  See the License for the
 *        specific language governing permissions and limitations
 *        under the License.
 */

#starred .ui-icon-star
{
    background: #f6f419;
    background: rgba(246, 244, 25, 0.9);
    background-image: url(images/icons-18-white.png);
   	background-repeat: no-repeat;
    background-position: 	-468px 50%;
}

.ui-icon-spotify-album
{
    background: url(images/spotify/icn_quickact_album.png) no-repeat !important;
    background-size: 18px 18px !important;
}

.ui-icon-spotify-play-queue
{
    background: url(images/spotify/icn_play_queue.png) no-repeat !important;
    background-size: 18px 18px !important;
}


.ui-icon-spotify-more
{
    background: url(images/spotify/icn_quickact_more.png) no-repeat !important;
    background-size: 18px 18px !important;
}


.ui-icon-spotify-artist
{
    background: url(images/spotify/icn_quickact_artist.png) no-repeat !important;
    background-size: 18px 18px !important;
}


.ui-icon-spotify-enqueue
{
    background-size: 18px 18px;
    background: url(images/spotify/icn_quickact_queue-18x18.png) no-repeat center !important;
}

.ui-icon-spotify-star {
    background-size: 18px 18px !important;
    background: url(images/spotify/icn_quickact_star.png ) no-repeat center center !important;
}

.ui-icon-spotify-unstar {
    background: url(images/spotify/icn_quickact_unstar.png ) no-repeat !important;
    background-size: 18px 18px !important;
}

#popupPanel-popup {
    right: 0 !important;
    left: auto !important;
}

#popupPanel {
    width: 250px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}

#popupPanel .ui-btn {
/*    margin: 2em 15px;*/
}

#mediaQueuedResult-popup {
/*
    right: 0 !important;
    left: auto !important;
*/
}


#mediaQueuedResult {
    width: 250px;
    border: 1px solid #000;
/*
    border-right: none;
*/
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}

#mediaQueuedResult .ui-btn {
/*    margin: 2em 15px;*/
}

body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }